<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JS Questionnaire</title>
    <link href='bower_components/skeleton/css/normalize.css' rel="stylesheet" >
    <link href='bower_components/skeleton/css/skeleton.css' rel="stylesheet" >
    <link href='/styles.css' rel="stylesheet" >
  </head>
  <body>
    <div class="container row">
      <div id="app"></div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
